*{padding: 0;
    margin: 0;

}
.intro{
    height: 100vh;
    background-image: url(/classroom/preview\ ffod.jpg);
    background-size: cover;
}
.nav{
    height: 60px;
    background-color: white;
    color: black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(10,1fr);
    grid-gap: 10px;
}
.nav h2{
     grid-row: 1fr;
     grid-column: 1/span 5;
     margin-top: 10px;
     margin-left: 10px;
     font-size: 30px;
     color:black;
}
.nav a{
    margin-top: 10px ;
    text-decoration: none;
    font-size: 20px;
}
.nav a:hover{
    font-size: 30px;
    color: red;

}

.desc{
    height: 150vh;
    background-color:whitesmoke;
    margin-top: 30px;
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

.food{
    height: 230px;
    width: 300px;
    border: 3px solid black; 
    border-radius: 25px;
    margin: 30px;
    
} 
.food:hover{
    box-shadow: 6px 6px 8px black;
    transform: scale(1.2) translate(30px);
    
}
.img{
    grid-row: 1/span 3;
    grid-column: 2/span 5;
    width: 100%;
    border-radius: 25px;
    background-size: contain; 
}
h3{
    background-color: azure;
    text-align: center;
}
.footer{
    height: 250px;
    background-color: black;
}
.content{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
}
.company{
    width: 300px;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
}
.company h2{
    grid-row: 1/span 2;
    grid-column: 1/span 2;
    font-size: 30px;
    line-height: 20px;
}
.company h4{
    padding-top: 10px;
    line-height: 20px;
    font-size: 20px
    
    
}
.product{
    grid-row: 1/span 2;
    grid-column: 4/span 5;
    font-size: 20px;
    padding-top: 20px;

    line-height: 20px;
    color: white;
}
.product ul{
    padding-top: 10px;
    line-height: 40px;
}
.links{
    color: white;
    grid-row: 1/span 2;
    grid-column: 7/span 8; 
    font-size: 20px;
    padding-top: 20px;
    line-height: 20px;
}
.links ul{
    padding-top: 10px;
    line-height: 40px;
}
.Num{
    color: white;
    grid-row: 1/span 2;
    grid-column: 10/span 11;
    font-size: 20px;
    padding-top: 20px;
    line-height: 20px;
}
.Num ul{
    padding-top: 10px;
    line-height: 40px;
}



 

